html{
    display: block;
    width: 100%;
    border: none;
    background-color: #C0C0C0;
    color: black;
    padding: 14px 28px;
    font-size: 10px;
    cursor: pointer;
    text-align: center;
}
.required:before{
    content:"*";
    color:red;
}
.errorMsg, .error{
    color: darkred;
}
.successMsg,.success{
    color: darkgreen;
}
